{{define "nav"}}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li>
                    <a href="/">Dashboard</a>
                </li>
                <li>
                    <a href="/campaigns.html">Campaigns</a>
                </li>
                <li>
                    <a href="/groups.html">Users &amp; Groups</a>
                </li>
                <li> <a href="/templates.html">Email Templates</a>
                </li>
                <li>
                    <a href="/landing_pages.html">Landing Pages</a>
                </li>
                <li>
                    <a href="/sending_profiles.html">Sending Profiles</a>
                </li>
                <li>
                    <a href="/settings.html">Account Settings</span></a>
                </li>
                {{if .ModifySystem}}
                <li>
                    <a href="/users.html">User Management<span class="nav-badge badge pull-right">Admin</span></a>
                </li>
                <li>
                    <a href="/webhooks.html">Webhooks<span class="nav-badge badge pull-right">Admin</span></a>
                </li>
                {{end}}
                <li>
                    <hr>
                </li>
            </ul>
        </div>
    </div>
</div>
{{end}}